.wrapper {
    background-image:
    url(../../../../public/images/yerevan.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 60px 0 0;

    @media only screen and (min-width: 768px) {
        padding: 80px 0 0;
        gap: 36px;
    }

    svg {
        animation: jump 1s ease-in-out infinite;
    }
}

.loactionWrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 16px;
}

.logo {
    margin: 0 auto;
}

.timing {
    font: 300 28px/36px "Noto Serif Armenian", serif;
    letter-spacing: 0.5px;
    font-style: italic;
}

.location {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 50%;
}

.map {
    margin: 32px 0 0;
    width: 100%;
    align-self: center;
}

.image {
    width: 24px;
}

.footer {
    background-image:
    url(../../../../public/images/welcome.jpg);
    margin-top: -24px;
    height: 215px;
    display: flex;
    align-items: center;
}

.invitation {
    text-align: center;
    font: 300 34px/40px "Noto Serif Armenian", serif;
    letter-spacing: 0.5px;
    font-style: italic;
    width: 60%;
    margin: 0 auto;
    padding: 40px 0;
}

@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}